:root {
    /*main BG*/
    --very-dark-blue: hsl(217, 54%, 11%);
    /* car BG*/
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    /*primary*/
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

* {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--very-dark-blue);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--very-dark-blue-card);
    border-radius: 0.625rem;
}

.equilibrium {
    max-width: 18.75rem;
    border-radius: 0.625rem;
    margin-top: 1.25rem;    
}

.nft-caption {
    margin: 1.25rem;
    width: 18.75rem;
}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
}

h2 {
    font-size: 1.125rem;
    color: var(--soft-blue);
    font-weight: 300;
    margin: 1.25rem 0;
}

.nft-details {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--soft-blue);

}

.eth-details, .time {
    display: flex;
    align-items: center;
}

.eth-img, .clock-img {
    margin-right: 0.313rem;
}

.eth {
    font-weight: 400;
    color: var(--cyan);
}

hr {
    border: 0.063rem solid var(--very-dark-blue-line);
    margin: 1.25rem 0;
}

.credentials-container {
    display: flex;
    align-items: center;
    margin: 0.938rem 0;
}

.avatar-img {
    width: 2.1875rem;
    border: 0.063rem solid var(--white);
    border-radius: 50%;
    margin: 0;
}

.credentials {
    margin: 0 0.9375rem;
}

.author-name {
    color: var(--white);
}